<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rate my cat</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" integrity="sha256-/Z28yXtfBv/6/alw+yZuODgTbKZm86IKbPE/5kjO/xY=" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/landing.css">
</head>
<body>

  <div id="landing-header">
    <h1>Welcome to Rate my cat!</h1>
    <a href="/cats" id="landing-button" class="ui red button"><i class="paw icon"></i> Get Started</a>
  </div>

  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  
</body>
</html>